<!-- start custom footer snippets -->
<body>
 <style>
th, td { vertical-align: top; }
</style>
<table>
<tr>
<td><h3>Información de contacto</h3> 
 <p><font size="3">jorge.velazquezcastro@correo.buap.mx <br><a href="jorge.velazquezcastro@correo.buap.mx">Perfil en Researchgate</a></font></p>
<h3> Citas</h3>
<p><font size="3"><a href="http://doodle.com/jorgevc">Perfil en Doodle</a></font></p>
 </td>
<td valign="top"><h3>Dirección</h3> <p><font size="3"> Avenida San Claudio y 18 Sur, Colonia San Manuel, <br>
 Edificio FM1-101B,Ciudad Universitaria, C.P. 72570, <br>  Puebla, México.
Teléfono +52(222) 2295500 ext. 7552 <br>
Facultad de Ciencias Físico Matemáticas
Cubículo EMA3/229</font></p></td>
</tr>
</table>

</body>

<!-- end custom footer snippets -->
  
