<!-- start custom footer snippets -->
<h5>Información de contacto <HR width="100%"></h5>
<p><font size="3">jorge.velazquezcastro@correo.buap.mx <br><a href="jorge.velazquezcastro@correo.buap.mx">Perfil en Researchgate</a></font></p>
<h5> Citas <HR width="100%"></h5>

<input type="text" value="http://doodle.com/jorgevc" id="myInput">
<button onclick="myFunction()">Copiar</button>
  
  
  
  
  
  
  
<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  document.execCommand("copiar");
  alert("Link copiado: " + copyText.value);
}
</script>
<!-- end custom footer snippets -->
