<!-- start custom footer snippets -->

<table>
<tr>
<td><h3>Información de contacto</h3> 
 <p><font size="3">jorge.velazquezcastro@correo.buap.mx <br><a href="jorge.velazquezcastro@correo.buap.mx">Perfil en Researchgate</a></font></p>
<h3> Citas</h3>
<p><font size="3"><a href="http://doodle.com/jorgevc">Perfil en Doodle</a></font></p></td>
<td><h3>Directorio</h3> 
 <p><font size="3"> Avenida San Claudio y 18 Sur,
Colonia San Manuel, Edificio FM1-101B, 
Ciudad Universitaria, C.P. 72570, Puebla, México.
Teléfono +52(222) 2295500 ext. 7552
Facultad de Ciencias Físico Matemáticas
Cubículo EMA3/229</font></p></td>
 </td>
</tr>
</table>



<!-- end custom footer snippets -->
  
