---
layout: archive
---
<!--
{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
<style>
  img:hover {
        filter: alpha(opacity=80);
        opacity: .8;
    }
img {
    border-radius: 8px;
}
</style>
<div style="padding-left:20px;">
<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td> <center><img src="https://juliojx.github.io/jorgevc/ImagenesEstudiantes/Jorge.jpeg" style="width:150px" class="center"></center> <p><center> <h3> Dr. Jorge Velázquez Castro. </h3>  <br> Profesor investigador de tiempo <br>completo de la Benemérita <br> Universidad Autónoma de Puebla. </center> </p></td>
        <td> Bienvenido a mi sitio web, aquí encontrarás información relacionada a mis actividades académicas y de investigación, mi información de 
          contacto se encuentra ubicada al pie de página<br> <h3>Formación académica</h3> <br>
            <ul>
        <li> Doctorado en Física Estadística, Universidad Nacional Autónoma de México, México, 2011. Tesis en Física estadística </li>
<li> Maestría en Física, Universidad Nacional Autónoma de México, México, 2006. Tesis en Procesos estocásticos </li>
<li> Licenciatura en Física, Benemerita Universidad Autónoma de Puebla, México, 2003. Tesis en Mecánica Cuantica </li>
            </ul>
            <h3>Idiomas </h3> <br> <br> 
         <ul>
           <li> Inglés, Certificado: First Certificate in English (Cambridge University)</li>
           <li> Alemán, Certificado: Zertifikat Deutsh, Mittelstuffe (Goethe Institut) </li>
           <li> Español, Legua materna</li>
           </ul>
        </td>
        <td> </td>
        </tr>
</table>
  
  </table>
<tr>
   
</tr>
</div>
